extend layout
block content
    h1(align='center') Kilometrówka

    form.form-horizontal(method='GET')
        .form-group
            label.col-sm-2.control-label(for='month') Miesiąc
            .col-sm-10
                #monthpicker.input-group.date
                    input#month.form-control(type='text' name='month')
                    span.input-group-addon
                        i.glyphicon.glyphicon-calendar
        .form-group
            label.col-sm-2.control-label(for='vehicle') Pojazd
            .col-sm-10
                input#vehicle.form-control(type='text', placeholder='Pojazd' name='vehicle')
        .form-group
            label.col-sm-2.control-label(for='route') Trasa
            .col-sm-10
                input#route.form-control(type='text', placeholder='Trasa' name='route')
        .form-group
            label.col-sm-2.control-label(for='distance') Przejechane KM
            .col-sm-10
                input#distance.form-control(type='number', placeholder='Przejechane KM' name='distance')
        .form-group
            label.col-sm-2.control-label(for='purpose') Cel wyjazdu
            .col-sm-10
                input#purpose.form-control(type='text', placeholder='Cel wyjazdu' name='purpose')
        .form-group
            label.col-sm-2.control-label(for='daysoff') Dni wolne
            .col-sm-10
                #daypicker.input-group.date
                    input#daysoff.form-control(type='text' name='daysoff')
                    span.input-group-addon
                        i.glyphicon.glyphicon-calendar
        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit', value='preview', formaction='/preview') Podgląd
                button.btn.btn-primary(type='submit', value='download', formaction='/download') Pobierz CSV