extend layout
block content
    table.table.table-bordered.table-hover.table-condensed
        thead
            th Data
            th Pojazd
            th Trasa
            th Przejechane KM
            th Cel wyjazdu
        tbody
        each date in dates
            tr
                td #{date.day}
                td #{date.vehicle}
                td #{date.route}
                td #{date.distance}
                td #{date.purpose}